body {
	font-family: Helvetica, sans-serif;
	background-color: #F3F3F3;
	color: #0D2030;
	margin: 0;
}

header, main {
	max-width: 60em;
	margin-top: 1em;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 1em;
}

header img {
	width: 8em;
}

h1 {
	background: #418fb7;
	color: white;
	font-weight: normal;
	font-size: 150%;
	padding: .4em;
	margin-top: 2em;
}

img {
	width: 48%;
}

footer {
	font-size: 80%;
	background: #DDD;
	color: #303030;
	padding: 1em;
	text-align: right;
}

footer a {
	color: inherit;
}
