body {
	margin: 0 auto;
	max-width: 60em;

	font-family: Helvetica, sans-serif;
	background-color: #eaeaea;
	color: #0f2e3f;
}

header {
	margin: 2em 0;
	padding: 1em;
	color: white;
}

header h1 {
	background: #0f2e3f;
	font-style: italic;
	display: inline;
	font-size: 300%;
	font-weight: normal;
}

header a {
	text-decoration: none;
	color: white;
}

header img {
	float: right;
}

main {
	margin-top: 10em;
}

main h1 {
	background: #418fb7;
	color: white;
	font-style: italic;
	font-weight: normal;
	font-size: 150%;
	padding: .4em;
	margin-top: 2em;
}

img {
	width: 48%;
}

footer {
	background: #0f2e3f;
	color: white;
	margin-top: 4em;
	padding: 2em;
	text-align: right;
}

footer a {
	color: #418fb7;
}
