<!DOCTYPE html>
<html lang=fr>
	<head>
		<meta charset="utf-8">
		<title>AgileFrance</title>

		<link href="css/main.css" rel="stylesheet" type="text/css" media="all">
	</head>
	<body>
		<header>
			<h1><a href="/">Association Agile France</a></h1>
			<img src="/logo.svg" height=150 alt=Logo />
		</header>

		<main>
			{{ content }}
		</main>

		<footer>
			<address translate="no">
				Association Agile France<br>
				14 avenue Ledru-Rollin<br>
				75012 Paris France<br>
				<a href="mailto:bureau@agile-france.org">bureau@agile-france.org</a>
			</address>
		</footer>
	</body>
</html>
