<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} — {% endif %}AgileFrance</title>

    <link rel="stylesheet" href="/css/site.css" type="text/css" media="all">

    {% if page.canonical %}
    <link rel="canonical" href="{{ page.canonical }}">
    {% endif %}
  </head>
  <body class="bg-white font-sans">
    <header class="w-full container mx-auto flex justify-center my-8">
      <a href="/"><img src="/logo.svg" alt="Association Agile France" class="h-20"/></a>
    </header>

    <main class="container mx-auto my-4 px-8">
      {{ content }}
    </main>

    <footer class="flex items-center justify-center flex-wrap bg-blue-200 p-6">
      <a href="/suivi-audience" class="m-4">Suivi d'audience et confidentialité</a>

      <address translate="no" class="m-4">
        Association Agile France<br>
        14 avenue Ledru-Rollin<br>
        75012 Paris France<br>
        <a href="mailto:bureau@agile-france.org">bureau@agile-france.org</a>
      </address>
    </footer>

    <script type="text/javascript">
      var _paq = window._paq || [];
      _paq.push(['setTrackerUrl', 'https://agile-matomo.ethibox.fr/matomo.php']);
      _paq.push(['setSiteId', '1']);
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking', true]);
    </script>

    <script type="text/javascript" async defer src="https://agile-matomo.ethibox.fr/matomo.js"></script>
  </body>
</html>
